body {
  background-color: #51adcf;
  text-align: center;
  margin: 0;
  font-family: 'Lobster',cursive;

}

h1 {

  font-size: 3.625rem;
  margin-top: 0;

}

h2{
  font-size: 2.625rem;

}

p{
  font-size: 1.625rem;
}

.top-container{
  background-color: #ecf4f3;
  margin-top: 0px;
  padding-top: 200px;
}

.top-cloud{
  position: absolute;
    right: 300px;
  top:50px;
}

.bottom-cloud{
  position: absolute;
    left:300px;
  bottom:500px;
}

.mid-container{
  background-color: #93b5e1;
  padding: 50px;
}

.bottom-container{
  background-color: #3282b8;
  padding: 50px;
}


.children{
  float: left;
  width: 15%;

}

.dog{
  float: right;
  width: 15%;

}

