body {
  margin: 0;
  font-family: 'Lobster',cursive;
}

h1 {

  font-size: 3.625rem;
  margin-top: 0;

}

h2{
  font-size: 2.625rem;

}

p{
  font-size: 1.625rem;

}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.top-container{
  text-align: center;
  background-color: #ecf4f3;
  margin-top: 0px;
  padding-top: 200px;
}

.top-cloud{
  position: absolute;
    right: 300px;
  top:50px;
}

.bottom-cloud{
  position: absolute;
    left:300px;
  bottom:500px;
}

.mid-container{
  text-align: center;
}

.bottom-container{
  text-align: center;
  background-color: #ecf4f3;

}


.children{
  float: left;
  width: 15%;
  padding: 10px;

}

.dog{
  float: right;
  width: 15%;
  padding: 10px;

}

.contact{
  text-align: center;
}
.bottom-footer{
  background-color: #ecf4f3;
  text-align: center;
}
